<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <link rel="stylesheet" type="text/css" href="${req.href.chrome('tasklist/tasklist.css')}" />
    <script type="text/javascript" src="${req.href.chrome('tasklist/tasklist.js')}"></script>
  </head>
  <body>
    <div id="content">

      <xi:include href="ticket_box.html" py:with="preview_mode = change_preview.fields"/>

    </div>
  </body>
</html>
